// Start with assigning color names to specific hex values.
// $white:  #fff !default;
// $black:  #000 !default;
// $red:    #d9534f !default;
// $orange: #f0ad4e !default;
// $yellow: #ffd500 !default;
// $green:  #096a09 !default;
// $blue:   #3c4d5e !default;
// $teal:   #5bc0de !default;
// $pink:   #ff5b77 !default;
// $purple: #613d7c !default;


// Reassign color vars to semantic color scheme
$brand-primary:             #80949b !default;
// $brand-success:             $green !default;
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse:             $gray-dark !default;

$body-bg:       #000 !default;
$body-color:    #FFF !default;

$box-bg: #171e20 !default;
$tab-inactive-bg: #292f31 !default;

$color-less-focus: #666 !default;
$color-some-focus: darken($brand-primary, 33%) !default;

$btn-primary-bg:  $brand-primary !default;
$btn-primary-color: $body-bg !default;

$grid-gutter-width-base:    8px !default;

// Adjusted defaults, not theme specific
$border-radius: 4px !default;

$font-size-base: 1rem;
$stripe-bg: #12181a !default;
$stripeeven-bg: #343a40 !default;

$btn-secondary-color:            $body-color !default;
$btn-secondary-bg:              $tab-inactive-bg !default;

$logo-url:  url(/static/img/logo.png) !default;
$logo-color: #FFF !default;

@font-face {
 font-family: 'texgyreadventorregular';
 src: url(/static/fonts/texgyreadventor-regular-webfont.woff);
 src: url(/static/fonts/texgyreadventor-regular-webfont.woff) format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: fallback;
}

@font-face {
 font-family: 'texgyreadventorbold';
 src: url(/static/fonts/texgyreadventor-bold-webfont.woff);
 src: url(/static/fonts/texgyreadventor-bold-webfont.woff) format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: fallback;
}

@font-face {
 font-family: 'esphimere-bold-italic';
 src: url(/static/fonts/esphimere-bold-italic.woff);
 src: url(/static/fonts/esphimere-bold-italic.otf) format('otf');
 src: url(/static/fonts/esphimere-bold-italic.woff) format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: fallback;
}

$bolditalic-font:'esphimere-bold-italic', Arial, Helvetica, sans-serif !default;
$bold-font: 'texgyreadventorbold', Arial, Helvetica, sans-serif !default;
$reg-font: 'texgyreadventorregular', Arial, Helvetica, sans-serif !default;