// Start with assigning color names to specific hex values.
// $white:  #fff !default;
// $black:  #000 !default;
// $red:    #d9534f !default;
// $orange: #f0ad4e !default;
// $yellow: #ffd500 !default;
// $green:  #096a09 !default;
// $blue:   #3c4d5e !default;
// $teal:   #5bc0de !default;
// $pink:   #ff5b77 !default;
// $purple: #613d7c !default;


// Reassign color vars to semantic color scheme
$brand-primary:             #00b0ef;
// $brand-success:             $green !default;
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse:             $gray-dark !default;

$body-bg:       #d9e0e5;
$body-color:    #727376;

$box-bg: #FFF;
$award-bg: darken($box-bg, 2%) !default;
$tab-inactive-bg: #e6eaed;

$color-less-focus: lighten($body-color, 15%) !default;
$color-some-focus: darken($box-bg, 12%) !default;

$stripe-bg: #f0f0f0;

$btn-primary-bg:  $brand-primary;
$btn-primary-color: #FFF;

$logo-url:  url(/static/img/logo_icon_gray.png);
$logo-color: #a9abae;

$winning-green: #165503;
$med-green: #66b830;

// $btn-secondary-bg: $brand-primary;
// $btn-secondary-color: #FFF;