// Start with assigning color names to specific hex values.
// $white:  #fff !default;
// $black:  #000 !default;
// $red:    #d9534f !default;
// $orange: #f0ad4e !default;
// $yellow: #ffd500 !default;
// $green:  #096a09 !default;
// $blue:   #3c4d5e !default;
// $teal:   #5bc0de !default;
// $pink:   #ff5b77 !default;
// $purple: #613d7c !default;


// Reassign color vars to semantic color scheme
$brand-primary:             #c67000;
// $brand-success:             $green !default;
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse:             $gray-dark !default;

$body-bg:       #000;
$body-color:    #FFF;

$box-bg: #1e1e1e;
$award-bg: lighten($box-bg, 3%) !default;
$tab-inactive-bg: #333;

$color-less-focus: darken($body-color, 50%) !default;
$color-some-focus: darken($brand-primary, 33%) !default;

$btn-primary-bg:  $brand-primary;
$btn-primary-color: #FFF;

$grid-gutter-width-base:     10px !default;

// Adjusted defaults, not theme specific
$border-radius: 0 !default;

$font-size-base: 0.85rem;

$stripe-bg: #181818;

// $btn-secondary-bg: $brand-primary;
// $btn-secondary-color: #FFF;

@font-face {
    font-family: 'anonymous_pro_b-webfont';
    src: url(/static/fonts/anonymous_pro_b-webfont.woff);
    src: url(/static/fonts/anonymous_pro_b-webfont.woff2) format('woff2'),
    	 url(/static/fonts/anonymous_pro_b-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

$bolditalic-font:'esphimere-bold-italic', Arial, Helvetica, sans-serif !default;
$bold-font: 'anonymous_pro_b-webfont', Arial, Helvetica, sans-serif !default;
$reg-font: 'anonymous_pro_b-webfont', Arial, Helvetica, sans-serif !default;

$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-monospace;
